.logo {
  height: 50px;
}

.discord-button {
  background-color: #e2dbff;
}

.twitter-button {
  background-color: #e6f5ff;
}

.bxl-discord-alt {
  color: rgba(131, 106, 234, 1);
  font-size: 29px !important;
}

.bxl-twitter {
  color: rgba(49, 163, 247, 1);
  font-size: 29px !important;
}


