<!-- Subscription CTA -->
<section class="container">
  <div class="bg-secondary rounded-3 py-5 px-3 px-sm-4 px-lg-5 px-xl-0">
    <div class="row align-items-center py-lg-4">
      <div class="col-xl-5 col-md-6 offset-xl-1 mb-4 mb-md-0">
        <div class="d-flex align-items-center">
          <img src="assets/img/notification-icon.svg" width="78" alt="Bell icon">
          <div class="ps-3 ms-sm-3">
            <h2 class="h4 mb-0">Subscribe to our newsletter to get all new updates on MetaVas.</h2>
          </div>
        </div>
      </div>
      <div class="col-xl-5 col-md-6">
        <div class="ps-lg-5 ms-xl-2">
          <form class="input-group input-group-lg" novalidate #subscribeForm='ngForm' (ngSubmit)='subscribe(subscribeForm)'>
            <input type="email" id="subscr-email" #email='ngModel' name='email'
                   [(ngModel)]='subscribeData.email' [email]="true" class="form-control rounded-start ps-5" placeholder="Your email address" required>
            <i class="bx bx-envelope fs-xl text-muted position-absolute top-50 start-0 translate-middle-y ms-3 zindex-5"></i>
            <div class="error-message position-absolute top-100 start-0" *ngIf="hasError">Please provide a valid email address</div>
            <div class="success-message position-absolute top-100 start-0" *ngIf="isSubscribed">Email address successfully added to newsletter list</div>
            <button type="submit" [disabled]="subscribing" class="btn btn-primary px-sm-4">{{buttonText}}</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- Page loading spinner -->
<div class="page-loading">
  <div class="page-loading-inner">
    <div class="page-spinner"></div><span></span>
  </div>
</div>
