<!-- Page loading spinner -->
<div class="page-loading active">
  <div class="page-loading-inner">
    <div class="page-spinner"></div><span>Loading...</span>
  </div>
</div>


<!-- Page wrapper for sticky footer -->
<!-- Wraps everything except footer to push footer to the bottom of the page if there is little content -->
<main class="page-wrapper">

  <app-header></app-header>

  <router-outlet></router-outlet>

</main>

<app-footer></app-footer>

<ngx-spinner
  bdColor="rgba(255,255,255,0.8)"
  size="default"
  color="#48bf84"
  type="ball-clip-rotate"
>
</ngx-spinner>
