<!-- Hero -->
<section class="jarallax position-relative d-flex align-items-center min-vh-100 bg-light mb-5 py-lg-5 pt-5" style="background-image: url(assets/img/hero-bg.png);" data-jarallax data-img-position="0% 100%" data-speed="0.5">
  <div class="container position-relative zindex-5 py-5">
    <div class="row justify-content-md-start justify-content-center">
      <div class="col-md-6 col-sm-8 order-md-1 order-2 d-flex flex-column justify-content-between mt-4 pt-2 text-md-start text-center">
        <div class="mb-md-5 pb-xl-5 mb-4">

          <!-- Video popup btn -->
          <div class="d-inline-flex align-items-center position-relative mb-3">
            <a href="javascript:;" class="btn btn-video btn-icon btn-lg flex-shrink-0 me-3 stretched-link" data-bs-toggle="video">
              <i class="bx bxl-discord-alt"></i>
            </a>
            <h4 class="mb-0">Explore our community</h4>
          </div>

          <!-- Text -->
          <h1 class="display-4 mb-md-5 mb-3 pb-3">
            An <span class="text-gradient-primary">immersive</span> Afrocentric metaverse<br>experience for you.
          </h1>
          <div class="d-md-flex align-items-md-start">
            <a href="#" class="btn btn-lg btn-primary flex-shrink-0 me-md-4 mb-md-0 mb-sm-4 mb-3">Enter DAO</a>
            <p class="d-lg-block d-none mb-0 ps-md-3">MetaVas is a virtual reality space geared towards promoting Afrocentric experiences that everyone can be a part of.</p>
          </div>
        </div>

        <!-- Scroll down btn -->
        <div class="d-inline-flex align-items-center justify-content-center justify-content-md-start position-relative">
          <a href="#benefits" data-scroll data-scroll-offset="100" class="btn btn-video btn-icon rounded-circle shadow-sm flex-shrink-0 stretched-link me-3">
            <i class="bx bx-chevron-down"></i>
          </a>
          <span class="fs-sm">Learn more</span>
        </div>
      </div>

      <!-- Animated gfx -->
      <div class="col-sm-6 col-sm-6 col-9 order-md-2 order-1">
<!--        <lottie-player class="mx-auto" src="assets/json/animation-digital-agency.json" background="transparent" speed="1" loop autoplay></lottie-player>-->
      </div>
    </div>
  </div>
</section>


<!-- Benefits (features) -->
<section class="container mb-5 pt-lg-5" id="benefits">
  <div class="swiper pt-3" data-swiper-options='{
          "slidesPerView": 1,
          "pagination": {
            "el": ".swiper-pagination",
            "clickable": true
          },
          "breakpoints": {
            "500": {
              "slidesPerView": 2
            },
            "991": {
              "slidesPerView": 3
            }
          }
        }'>
    <div class="swiper-wrapper">

      <!-- Item -->
      <div class="swiper-slide border-end-lg px-2">
        <div class="text-center">
          <img src="assets/img/landing/digital-agency/icons/idea.svg" width="48" alt="Bulb icon" class="d-block mb-4 mx-auto">
          <h4 class="mb-2 pb-1">Open Architecture</h4>
          <p class="mx-auto" style="max-width: 336px;">Governance in MetaVas is by members of the community. Assets by consensus.</p>
        </div>
      </div>

      <!-- Item -->
      <div class="swiper-slide border-end-lg px-2">
        <div class="text-center">
          <img src="assets/img/landing/digital-agency/icons/award.svg" width="48" alt="Award icon" class="d-block mb-4 mx-auto">
          <h4 class="mb-2 pb-1">Afrocentric</h4>
          <p class="mx-auto" style="max-width: 336px;">We’re bringing the African essence, spaces, sights, sounds and experience to the blockchain.</p>
        </div>
      </div>

      <!-- Item -->
      <div class="swiper-slide px-2">
        <div class="text-center">
          <img src="assets/img/landing/digital-agency/icons/team.svg" width="48" alt="Team icon" class="d-block mb-4 mx-auto">
          <h4 class="mb-2 pb-1">Fun and Inclusive</h4>
          <p class="mx-auto" style="max-width: 336px;">MetaVas has a different experience, down to every detail.</p>
        </div>
      </div>
    </div>

    <!-- Pagination (bullets) -->
    <div class="swiper-pagination position-relative pt-2 pt-sm-3 mt-4"></div>
  </div>
</section>


<!-- Featured Projects -->
<section class="container mb-5 pt-lg-2 pt-xl-4 pb-2 pb-md-3 pb-lg-5">
  <h2 class="h1 mb-4 text-center">What’s new on MetaVas?</h2>
  <p class="mb-4 mx-auto pb-3 fs-lg text-center" style="max-width: 636px;">Find out what’s new as our community invests, develop and collaborates on community-owned metaverse lands and real estate together.</p>

  <!-- Portfolio grid -->
  <div class="masonry-grid row g-md-4 g-3 mb-4">

    <!-- Item -->
    <div class="masonry-grid-item col-md-4 col-sm-6 col-12">
      <a href="javascript:;" class="card card-portfolio card-hover bg-transparent border-0">
        <div class="card-img-overlay d-flex flex-column align-items-center justify-content-center rounded-3">
          <span class="position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-50 rounded-3"></span>
          <div class="position-relative zindex-2">
            <h3 class="h5 text-light mb-2">Astronaut &amp; Flashing Neon Lights</h3>
            <span class="fs-sm text-light opacity-70">3D Render / Graphic Design / Motion Design</span>
          </div>
        </div>
        <div class="card-img">
          <img src="assets/img/grid/07.jpg" class="rounded-3" alt="Image">
        </div>
      </a>
    </div>

    <!-- Item -->
    <div class="masonry-grid-item col-md-4 col-sm-6 col-12">
      <a href="javascript:;" class="card card-portfolio card-hover bg-transparent border-0">
        <div class="card-img-overlay d-flex flex-column align-items-center justify-content-center rounded-3">
          <span class="position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-50 rounded-3"></span>
          <div class="position-relative zindex-2">
            <h3 class="h5 text-light mb-2">Plaster Antique Sculpture in a Pop Art Style</h3>
            <span class="fs-sm text-light opacity-70">NFT / Graphic Design / Art / 3D</span>
          </div>
        </div>
        <div class="card-img">
          <img src="assets/img/grid/08.jpg" class="rounded-3" alt="Image">
        </div>
      </a>
    </div>

    <!-- Item -->
    <div class="masonry-grid-item col-md-4 col-sm-6 col-12">
      <a href="javascript:;" class="card card-portfolio card-hover bg-transparent border-0">
        <div class="card-img-overlay d-flex flex-column align-items-center justify-content-center rounded-3">
          <span class="position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-50 rounded-3"></span>
          <div class="position-relative zindex-2">
            <h3 class="h5 text-light mb-2">Big Blue Whale Shape</h3>
            <span class="fs-sm text-light opacity-70">3D Pollygonal Shape / Graphic Design / Art</span>
          </div>
        </div>
        <div class="card-img">
          <img src="assets/img/grid/09.jpg" class="rounded-3" alt="Image">
        </div>
      </a>
    </div>

    <!-- Item -->
    <div class="masonry-grid-item col-md-8 col-12">
      <a href="javascript:;" class="card card-portfolio card-hover bg-transparent border-0">
        <div class="card-img-overlay d-flex flex-column align-items-center justify-content-center rounded-3">
          <span class="position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-50 rounded-3"></span>
          <div class="position-relative zindex-2">
            <h3 class="h5 text-light mb-2">3D Shape Illustration</h3>
            <span class="fs-sm text-light opacity-70">3D Design / Illustration / Art</span>
          </div>
        </div>
        <div class="card-img">
          <img src="assets/img/grid/10.jpg" class="rounded-3" alt="Image">
        </div>
      </a>
    </div>
  </div>

  <div class="pt-md-3 pt-2 text-center">
    <a href="javascript:;" class="btn btn-lg btn-primary w-sm-auto w-100">Start Building</a>
  </div>
</section>


<!-- Brands (Carousel) -->
<section class="container pb-4 pb-lg-5 mb-3">
  <div class="d-flex align-items-center justify-content-md-between justify-content-center mb-md-4 mb-3">
    <h2 class="mb-0">Trusted by Awesome Clients</h2>

    <!-- Slider prev/next buttons + Quotation mark -->
    <div class="d-md-flex d-none ms-4">
      <button type="button" id="prev-brand" class="btn btn-prev btn-icon btn-sm me-2">
        <i class="bx bx-chevron-left"></i>
      </button>
      <button type="button" id="next-brand" class="btn btn-next btn-icon btn-sm ms-2">
        <i class="bx bx-chevron-right"></i>
      </button>
    </div>
  </div>
  <div class="swiper mx-n2" data-swiper-options='{
          "slidesPerView": 2,
          "navigation": {
            "prevEl": "#prev-brand",
            "nextEl": "#next-brand"
          },
          "loop": true,
          "pagination": {
            "el": ".swiper-pagination",
            "clickable": true
          },
          "breakpoints": {
            "500": {
              "slidesPerView": 3,
              "spaceBetween": 8
            },
            "650": {
              "slidesPerView": 4,
              "spaceBetween": 8
            },
            "900": {
              "slidesPerView": 5,
              "spaceBetween": 8
            },
            "1100": {
              "slidesPerView": 6,
              "spaceBetween": 8
            }
          }
        }'>
    <div class="swiper-wrapper">

      <!-- Item -->
      <div class="swiper-slide py-3">
        <a href="#" class="card card-body card-hover px-2 mx-2">
          <img src="assets/img/brands/01.svg" class="d-block mx-auto my-2" width="154" alt="Brand">
        </a>
      </div>

      <!-- Item -->
      <div class="swiper-slide py-3">
        <a href="#" class="card card-body card-hover px-2 mx-2">
          <img src="assets/img/brands/02.svg" class="d-block mx-auto my-2" width="154" alt="Brand">
        </a>
      </div>

      <!-- Item -->
      <div class="swiper-slide py-3">
        <a href="#" class="card card-body card-hover px-2 mx-2">
          <img src="assets/img/brands/03.svg" class="d-block mx-auto my-2" width="154" alt="Brand">
        </a>
      </div>

      <!-- Item -->
      <div class="swiper-slide py-3">
        <a href="#" class="card card-body card-hover px-2 mx-2">
          <img src="assets/img/brands/04.svg" class="d-block mx-auto my-2" width="154" alt="Brand">
        </a>
      </div>

      <!-- Item -->
      <div class="swiper-slide py-3">
        <a href="#" class="card card-body card-hover px-2 mx-2">
          <img src="assets/img/brands/05.svg" class="d-block mx-auto my-2" width="154" alt="Brand">
        </a>
      </div>

      <!-- Item -->
      <div class="swiper-slide py-3">
        <a href="#" class="card card-body card-hover px-2 mx-2">
          <img src="assets/img/brands/06.svg" class="d-block mx-auto my-2" width="154" alt="Brand">
        </a>
      </div>

      <!-- Item -->
      <div class="swiper-slide py-3">
        <a href="#" class="card card-body card-hover px-2 mx-2">
          <img src="assets/img/brands/01.svg" class="d-block mx-auto my-2" width="154" alt="Brand">
        </a>
      </div>

      <!-- Item -->
      <div class="swiper-slide py-3">
        <a href="#" class="card card-body card-hover px-2 mx-2">
          <img src="assets/img/brands/02.svg" class="d-block mx-auto my-2" width="154" alt="Brand">
        </a>
      </div>

      <!-- Item -->
      <div class="swiper-slide py-3">
        <a href="#" class="card card-body card-hover px-2 mx-2">
          <img src="assets/img/brands/03.svg" class="d-block mx-auto my-2" width="154" alt="Brand">
        </a>
      </div>

      <!-- Item -->
      <div class="swiper-slide py-3">
        <a href="#" class="card card-body card-hover px-2 mx-2">
          <img src="assets/img/brands/04.svg" class="d-block mx-auto my-2" width="154" alt="Brand">
        </a>
      </div>

      <!-- Item -->
      <div class="swiper-slide py-3">
        <a href="#" class="card card-body card-hover px-2 mx-2">
          <img src="assets/img/brands/05.svg" class="d-block mx-auto my-2" width="154" alt="Brand">
        </a>
      </div>

      <!-- Item -->
      <div class="swiper-slide py-3">
        <a href="#" class="card card-body card-hover px-2 mx-2">
          <img src="assets/img/brands/06.svg" class="d-block mx-auto my-2" width="154" alt="Brand">
        </a>
      </div>
    </div>

    <!-- Pagination (bullets) -->
    <div class="swiper-pagination position-relative pt-3 mt-4 d-md-none d-flex"></div>
  </div>
</section>

<app-subscription></app-subscription>
