.coming-badge {
  height: 27px;
  background-color: #2a4b43;
  border-radius: 14px;
  font-size: 14px;
  font-weight: 400;
  color: #01c08f;
  padding: 2px 22px;
  position: relative;
  top: -10px;
}
